body{
    font-family: verdana;
    background-color: #FFB6C1;

}
h1{
    text-align:center;
    border-bottom: 1px solid blue;
}
form {
    width: 40 px;
    float: left;
}

#Equirateral{
    width:0px;
    border-left: 28 px solid transparent;
    border-right:29px solid transparent;
    border-bottom: 28px solid #808080;
}