body{
    font-family: verdana;
    background-color: #FFB6C1;

}
h1{
    text-align:center;
    border-bottom: 1px solid blue;
}
form {
    width: 40 px;
    float: left;
}

#Equirateral{
    width:0px;
    height:0px;
    margin:200px auto;
    position: absolute;
    border-left: 100px solid transparent;
    border-right:100px solid transparent;
    border-bottom: 150px solid #808080;
}

